<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppId</key>
	<string>dc5c5826-e622-4072-adf7-a042b87434b0</string>
	<key>GraphScopes</key>
	<array>
		<string>User.Read</string>
		<string>Calendars.Read</string>
	</array>
</dict>
</plist>
